# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
package-lock.json

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/.vscode/
public/data/grid_tif/SMPct/SMPct_monthly_0.250deg_1950_2016_Cambodia.tif
public/data/grid_tif/SMPct/SMPct_monthly_0.250deg_1950_2016_Laos.tif
public/data/grid_tif/SMPct/SMPct_monthly_0.250deg_1950_2016_Myanmar.tif
public/data/grid_tif/SMPct/SMPct_monthly_0.250deg_1950_2016_Thailand.tif
public/data/grid_tif/SMPct/SMPct_monthly_0.250deg_1950_2016_Vietnam.tif
public/data/grid_tif/SMPct/SMPct_yearly_0.250deg_1950_2016_Cambodia.tif
public/data/grid_tif/SMPct/SMPct_yearly_0.250deg_1950_2016_Laos.tif
public/data/grid_tif/SMPct/SMPct_yearly_0.250deg_1950_2016_Myanmar.tif
public/data/grid_tif/SMPct/SMPct_yearly_0.250deg_1950_2016_Thailand.tif
public/data/grid_tif/SMPct/SMPct_yearly_0.250deg_1950_2016_Vietnam.tif
public/data/grid_tif/SPI/SPI1_monthly_0.250deg_1950_2016_Cambodia.tif
public/data/grid_tif/SPI/SPI1_monthly_0.250deg_1950_2016_Laos.tif
public/data/grid_tif/SPI/SPI1_monthly_0.250deg_1950_2016_Myanmar.tif
public/data/grid_tif/SPI/SPI1_monthly_0.250deg_1950_2016_Thailand.tif
public/data/grid_tif/SPI/SPI1_monthly_0.250deg_1950_2016_Vietnam.tif
public/data/grid_tif/SPI/SPI1_yearly_0.250deg__1960_Cambodia.tif
public/data/grid_tif/SPI/SPI1_yearly_0.250deg__1960_Laos.tif
public/data/grid_tif/SPI/SPI1_yearly_0.250deg__1960_Myanmar.tif
public/data/grid_tif/SPI/SPI1_yearly_0.250deg__1960_Thailand.tif
public/data/grid_tif/SPI/SPI1_yearly_0.250deg__1960_Vietnam.tif
public/data/grid_tif/SPI/SPI1_yearly_0.250deg_1950_2016_Cambodia.tif
public/data/grid_tif/SPI/SPI1_yearly_0.250deg_1950_2016_Laos.tif
public/data/grid_tif/SPI/SPI1_yearly_0.250deg_1950_2016_Myanmar.tif
public/data/grid_tif/SPI/SPI1_yearly_0.250deg_1950_2016_Thailand.tif
public/data/grid_tif/SPI/SPI1_yearly_0.250deg_1950_2016_Vietnam.tif
public/data/grid_tif/SPI/SPI3_monthly_0.250deg_1950_2016_Cambodia.tif
public/data/grid_tif/SPI/SPI3_monthly_0.250deg_1950_2016_Laos.tif
public/data/grid_tif/SPI/SPI3_monthly_0.250deg_1950_2016_Myanmar.tif
public/data/grid_tif/SPI/SPI3_monthly_0.250deg_1950_2016_Thailand.tif
public/data/grid_tif/SPI/SPI3_monthly_0.250deg_1950_2016_Vietnam.tif
public/data/grid_tif/SPI/SPI3_yearly_0.250deg__1960_Cambodia.tif
public/data/grid_tif/SPI/SPI3_yearly_0.250deg__1960_Laos.tif
public/data/grid_tif/SPI/SPI3_yearly_0.250deg__1960_Myanmar.tif
public/data/grid_tif/SPI/SPI3_yearly_0.250deg__1960_Thailand.tif
public/data/grid_tif/SPI/SPI3_yearly_0.250deg__1960_Vietnam.tif
public/data/grid_tif/SPI/SPI3_yearly_0.250deg_1950_2016_Cambodia.tif
public/data/grid_tif/SPI/SPI3_yearly_0.250deg_1950_2016_Laos.tif
public/data/grid_tif/SPI/SPI3_yearly_0.250deg_1950_2016_Myanmar.tif
public/data/grid_tif/SPI/SPI3_yearly_0.250deg_1950_2016_Thailand.tif
public/data/grid_tif/SPI/SPI3_yearly_0.250deg_1950_2016_Vietnam.tif
public/data/grid_tif/SPI/SPI6_monthly_0.250deg_1950_2016_Cambodia.tif
public/data/grid_tif/SPI/SPI6_monthly_0.250deg_1950_2016_Laos.tif
public/data/grid_tif/SPI/SPI6_monthly_0.250deg_1950_2016_Myanmar.tif
public/data/grid_tif/SPI/SPI6_monthly_0.250deg_1950_2016_Thailand.tif
public/data/grid_tif/SPI/SPI6_monthly_0.250deg_1950_2016_Vietnam.tif
public/data/grid_tif/SPI/SPI6_yearly_0.250deg__1960_Cambodia.tif
public/data/grid_tif/SPI/SPI6_yearly_0.250deg__1960_Laos.tif
public/data/grid_tif/SPI/SPI6_yearly_0.250deg__1960_Myanmar.tif
public/data/grid_tif/SPI/SPI6_yearly_0.250deg__1960_Thailand.tif
public/data/grid_tif/SPI/SPI6_yearly_0.250deg__1960_Vietnam.tif
public/data/grid_tif/SPI/SPI6_yearly_0.250deg_1950_2016_Cambodia.tif
public/data/grid_tif/SPI/SPI6_yearly_0.250deg_1950_2016_Laos.tif
public/data/grid_tif/SPI/SPI6_yearly_0.250deg_1950_2016_Myanmar.tif
public/data/grid_tif/SPI/SPI6_yearly_0.250deg_1950_2016_Thailand.tif
public/data/grid_tif/SPI/SPI6_yearly_0.250deg_1950_2016_Vietnam.tif
public/data/grid_tif/SPI/SPI12_monthly_0.250deg_1950_2016_Cambodia.tif
public/data/grid_tif/SPI/SPI12_monthly_0.250deg_1950_2016_Laos.tif
public/data/grid_tif/SPI/SPI12_monthly_0.250deg_1950_2016_Myanmar.tif
public/data/grid_tif/SPI/SPI12_monthly_0.250deg_1950_2016_Thailand.tif
public/data/grid_tif/SPI/SPI12_monthly_0.250deg_1950_2016_Vietnam.tif
public/data/grid_tif/SPI/SPI12_yearly_0.250deg__1960_Cambodia.tif
public/data/grid_tif/SPI/SPI12_yearly_0.250deg__1960_Laos.tif
public/data/grid_tif/SPI/SPI12_yearly_0.250deg__1960_Myanmar.tif
public/data/grid_tif/SPI/SPI12_yearly_0.250deg__1960_Thailand.tif
public/data/grid_tif/SPI/SPI12_yearly_0.250deg__1960_Vietnam.tif
public/data/grid_tif/SPI/SPI12_yearly_0.250deg_1950_2016_Cambodia.tif
public/data/grid_tif/SPI/SPI12_yearly_0.250deg_1950_2016_Laos.tif
public/data/grid_tif/SPI/SPI12_yearly_0.250deg_1950_2016_Myanmar.tif
public/data/grid_tif/SPI/SPI12_yearly_0.250deg_1950_2016_Thailand.tif
public/data/grid_tif/SPI/SPI12_yearly_0.250deg_1950_2016_Vietnam.tif
public/data/SPI1_monthly_country_1950_2016.geojson
public/data/SPI1_yearly_country_1950_2016.geojson
public/data/SPI1_yearly_country_1950_2016.json
public/data/SPI3_monthly_country_1950_2016.geojson
public/data/SPI3_yearly_country_1950_2016.geojson
public/data/SPI6_Monthly_country_1950_2016.geojson
public/data/SPI6_yearly_country_1950_2016.geojson
public/data/SPI12_Monthly_country_1950_2016.geojson
public/data/SPI12_yearly_country_1950_2016.geojson
public/data/SPI12_yearly_Vietnam_prov_1950_2016.geojson
