* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monsterrat";
  /* font-family: "Times New Roman", Times, serif; */
}

a {
  text-decoration: none;
}

/* Start: navbar style */

.navbar {
  background: #354458;
  height: 80px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 20px;
  position: relative;
  top: 0;
  z-index: 999; /* to make sure the navbar will not be covered by anything */
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  z-index: 1;
  width: 100%;
  /* max-width: 1800px; */
  padding: 0 40px;
  /* align-items: center; */
}

#navbar__logo {
  color: #fff;
  cursor: pointer;
  margin: auto 0;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Poppins";
}

.navbar__menu {
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
  /* text-align: center; */
  gap: 0px;
}

.navbar__item {
  height: 80px;
  font-weight: 600;
}

.navbar__links {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* padding: 10px; */
  width: max(120px, 8vw);
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 15px;
  width: 100%;
}

.button {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #29aba4;
  color: #fff;
}

.button:hover {
  background: #f2f2f2;
  color: #333;
  transition: 0.3s ease;
}

.navbar__links:hover {
  background: #29aba4;
  color: #fff;
  transition: all 0.3s ease;
}

.navbar__toggle {
  opacity: 0;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1800px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    background-color: #333;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -500px;
    opacity: 0;
    transition: all 0.5s ease;
    height: calc(auto+60px);
    z-index: -1; /* we need to click to trigger this */
  }

  .navbar__menu.active {
    background: #354458;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__toggle {
    opacity: 1;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
}

#mobile_menu {
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(5%, 20%);
  justify-content: center;
}

#mobile_menu.is_active .bar .fa-bars {
  display: none;
}

#mobile_menu.is_active .bar .fa-xmark {
  display: block;
}

.navbar__toggle .bar .fa-xmark {
  display: none;
}

.navbar__toggle .bar i {
  cursor: pointer;
  display: flex;
  color: #fff;
  font-size: 30px;
}

.page_title {
  background-color: #fff;
  color: #354458;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 14px 0 14px 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* End: navbar style */

.total_container {
  background: #f2f2f2;
  /* background: #fff; */
}

.logo_section {
  background-color: #354458;
}

.logo_section h2 {
  color: #fff;
  margin: 0 10px;
  padding: 25px 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
}

.dashboard_title {
  background-color: #fff;
  /* color: #3d3d3d; */
  font-size: 20px;
  margin-bottom: 20px;
  padding: 14px 0 14px 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Start setting the section title style */

.map_section {
  /* background-color: #fff; */
  background-color: #354458;
  /* color: #354458; */
  padding: 0 10px;
  border: 1px solid #ddd;
}

.section_title h3 {
  color: #fff;
  font-size: 22px;
  padding: 20px 20px;
}

.data_explorer_section {
  /* background-color: #fff; */
  background-color: #354458;
  /* color: #354458; */
  padding: 0 10px;
  border: 1px solid #ddd;
}

/* End setting the section title style */

ul {
  list-style-type: none;
}

.map_titles {
  margin: 20px 20px;
}

.map_main_title {
  font-size: 32px;
  font-family: Georgia;
}

.map_sub_title {
  padding-top: 14px;
  font-size: 22px;
  font-weight: 400;
  font-family: Georgia;
}

.first_row_container {
  background-color: #fff;
  display: flex;

  border: 1px #354458 solid;
  margin-bottom: 4px;
  width: calc(100vw - 76px);
  /* min-width: 50rem; */
  justify-content: space-between;
  flex-wrap: wrap;
}

#chart_container {
  /* margin: 10px 20px; */
  /* background-color: #fff; */
  border: 1px solid #354458;
  /* border-radius: 8px; */
  position: relative;
  width: calc(70vw - 48px);
  height: 72vh;
  overflow: hidden;
}

.first_container {
  /* width: 1200px; */
  margin: 10px 10px;
  display: flexbox;
  justify-content: center;
  gap: 10px;
  /* justify-content: space-evenly; */
  /* gap: 10px; */
}

.first_container_border {
  margin: 4px 20px;
  background-color: #fff;
  border: #354458 1px solid;
}

#second_row_container {
  /* display: flex;
  justify-content: space-between; */

  /* background-color: #354458; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.first_container_legend {
  background-color: #fff;
  border: 1px solid #333;
  width: calc(30vw - 48px);
  height: 72vh;
}

#side_bar {
  position: relative;
  min-width: 380px;
  max-width: 480px;
  border: 1px solid #bbb;
  border-radius: 8px;
  justify-content: center;
  /* min-width: 20%; */
  z-index: 100;
  background: #fff;
  overflow-y: auto;
}

#first_container_plot_01 {
  background: #fff;
  margin: 10px;
  border: 1px solid #354458;
  width: 24vw;
  height: 20vh;
  overflow: hidden;
}

.georgia_text {
  padding: 6px;
  font-family: Georgia;
}

/* Start: select menu setting */

/* hard to name them :( */
.select_data {
  margin-top: 10px;
}

.select_region {
  margin-top: 10px;
}

.select_range {
  margin-top: 10px;
}

#selector {
  margin-bottom: 10px;
}

.select {
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  margin-top: 4px;
  padding: 8px;
  font-weight: bold;
  font-size: 18px;
  border: solid 1px #354458;
  border-radius: 4px;
  transition: 0.3s;
}

.select:hover {
  background-color: #354458;
  color: #fff;
}

.select_menu {
  width: min(80vw, max(35vw, 400px));
  position: relative;
}

.options_list {
  background: #fff;

  border-radius: 4px;
  position: absolute;
  width: max(35vw, 400px);
  margin-top: 4px;
  padding: 0 10px;
  max-height: 140px;
  overflow-y: auto;
  height: 0;
  z-index: 9999;
}

.options_list div {
  border-radius: 4px;

  padding: 4px 10px;
  transition: 0.3s;
  cursor: pointer;
}

.options_list div:hover,
.options_list div.selected {
  background-color: #354458;
  color: #fff;
}

.options_list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #e3e3e3;
}

.options_list::-webkit-scrollbar-thumb {
  background-color: #333;
}

.options_list.active {
  border: 1px solid #354458;
  height: 140px;
}

/* End: select menu setting */

/* Start: select future prediction or historical data */

.selector_container {
  margin: 6px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: column; */
}

.selector_container label {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.selector_container label input + span {
  display: flex;
  align-items: center;
  padding: 4px;
  font-size: 18px;
  font-family: Georgia;
  transition: 0.3s;
}

.selector_container label input {
  display: none;
}

.selector_container label input + span:hover {
  color: #29aba4;
}

/* when selected, remain the font color */
.selector_container label input:checked + span {
  color: #29aba4;
  transition: 0.3s;
}

.selector_container label input + span::before {
  /* create fake circle elements */
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #fff;
  box-shadow: 0 0 0 2px #29aba4 inset;
  transition: all 0.3s;
}

.selector_container label input:checked + span::before {
  border-radius: 50%;
  box-shadow: 0 0 0 6px #29aba4 inset;
}

/* End: select future prediction or historical data */

.first_row_container_outer {
  display: flex;
  /* justify-content: center; */
  margin: 20px;
  padding: 10px;
  border: 1px #333 solid;
  background-color: #fff;
  /* padding: 20px; */
}

#selector_data_explorer {
  /* border: 1px solid #333; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Start: data explorer section chart style setting */
.second_container {
  background: #fff;
  margin: 5px 20px;
  display: flexbox;
  justify-content: center;
  gap: 10px;
  /* justify-content: space-evenly; */
  /* gap: 10px; */
}

.plot_container {
  display: flex;
  /* border: 1px #354458 solid; */
  align-items: end;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 20px;
  /* gap: 1vw; */
}

.plot_name {
  font-weight: 600;
  font-size: 26px;
  /* font-family: "Monsterrat"; */
  font-family: "Georgia";
  padding: 15px 0;
  margin-top: 15px;
}

.plot_title_bar {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* Start: plot selection box setting */
.plot_select_menu {
  margin-top: 20px;
  margin-bottom: 15px;
}
.plot_select_box {
  width: auto;
  padding: 10px;
  border: 1px solid #354458;
  cursor: pointer;
  /* display: flex;
  justify-content: space-between; */
  border-radius: 4px;
  transition: 0.3s;
}
.plot_select_box:hover {
  color: #fff;
  background-color: #29aba4;
}
.plot_select span {
  font-size: 16px;
}

.plot_options_list {
  background: #fff;
  border-radius: 4px;
  position: absolute;
  width: 180px;
  /* margin-top: 4px; */
  padding: 0 10px;
  max-height: 140px;
  overflow-y: auto;
  height: 0;
  z-index: 101;
}

.plot_options_list.active {
  border: 1px solid #354458;
  height: auto;
}

.plot_options_list div {
  padding: 8px 0;
  cursor: pointer;
  transition: 0.3s;
}

.plot_options_list div:hover {
  color: #29aba4;
}

/* End: plot selection box setting */

/* Start: cards setting */

#key_info_title {
  margin: 0 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.card {
  width: calc(22vw - 10px);
  min-width: 360px;
  /* width: 22vw; */
  margin: 20px;
  margin-top: 0;
  padding: 20px;
  background-color: #f2f2f2;
  /* height: 240px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1.5px solid #bbb;
  border-radius: 20px;
}

.card h3 {
  margin-bottom: 20px;
}
.card span {
  margin: 30px;
}
.card p {
  margin-top: 20px;
  font-size: 14px;
}

.card_data {
  margin: 40px;
  font-size: 40px;
  text-align: center;
  background-color: #29aba4;
  margin: auto auto;
  padding: 20px;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.card_data:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 4px 0;
  /* border: 6px solid #354458; */
}

.chart {
  padding-top: 40px;
  border: 1px solid #354458;
  /* width: calc(70vw-40px); */
  width: max(45vw, 360px);
  min-width: 300px;
  height: max(40vh, 240px);
  overflow: hidden;
}

#chart_03 {
  width: calc(2 * 45vw);
}

.table_container {
  /* border: 1px solid #354458; */
  margin: 20px;
  padding-bottom: 40px;
}

.table {
  height: 40vh;
  width: 80vw;
  text-align: center;
  /* margin: 20px; */
  padding-top: 10px;

  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border-collapse: collapse;
}

.table thead tr th {
  width: 10vw;
  height: 60px;
  text-align: center;
  border-bottom: rgba(0, 0, 0, 0.3) 1px solid;
}

.table tbody tr td {
  border-bottom: rgba(0, 0, 0, 0.3) 1px solid;
}

.table thead tr th:nth-child(odd) {
  background-color: #354458;
  color: #fff;
}

.table thead tr th:nth-child(even) {
  background-color: #29aba4;
  color: #fff;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* End: data explorer section chart style setting */

/* Start: Page end */

.page_end_container {
  display: flex;
  background: #3d3d3d;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 80px; */
}

.page_end_col {
  width: 20vw;
  min-width: 320px;
  /* border: 1px solid #fff; */
  justify-content: left;
  margin: 20px 60px;
  /* text-align: left; */
}

.page_end_col h3 {
  color: #28b78d;
  font-size: 18px;
  padding: 10px 0;
}

.page_end_col p {
  /* justify-content: left; */
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

.end_link p:hover {
  color: #28b78d;
  text-decoration: underline;
  transition: 0.2s;
}

.page_end_col ul li {
  list-style-type: none;
}

.end_link a {
  text-decoration: none;
}

/* End: Page end */
