* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f2f2f2;
}

.navbar {
  background: #354458;
  height: 80px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 999; /* to make sure the navbar will not be covered by anything */
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  /* max-width: 1800px; */
  padding: 0 40px;
  /* align-items: center; */
}

#navbar__logo {
  color: #fff;
  cursor: pointer;
  margin: auto 0;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Poppins";
}

.navbar__menu {
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
  /* text-align: center; */
  gap: 0px;
}

.navbar__item {
  height: 80px;
  font-weight: 600;
}

.navbar__links {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* padding: 10px; */
  width: max(120px, 8vw);
  height: 100%;
}

.button {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #29aba4;
  color: #fff;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 15px;
  width: 100%;
}

.button:hover {
  background: #f2f2f2;
  color: #333;
  transition: 0.3s ease;
}

.navbar__links:hover {
  background: #29aba4;
  color: #fff;
  transition: all 0.3s ease;
}

.page_title {
  background-color: #fff;
  color: #354458;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 14px 0 14px 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.news_main_title_container {
  background-color: #354458;
  display: block;
}

.news_main_title_container_inner {
  padding: 20px;
}

.news_main_title_container h2 {
  color: #fff;
  font-size: 36px;
  font-family: Georgia;
  padding: 20px 0;
}

.sub_info_container {
  display: flex;
  gap: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sub_info_container p {
  color: #fff;
  font-size: 20px;
}

.news_contents_container {
  margin: 10px auto;
  display: flexbox;
  background-color: #fff;
  /* border: 1px solid #354458; */
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  /* flex-direction: column; */
  /* text-align: center; */
  justify-content: center;
  width: min(960px, 90vw);
}

.paragraph {
  margin: 10px;
  padding: 10px;
  /* display: flex; */
  /* justify-content: center; */
}

.paragraph h3 {
  padding-top: 10px;
  font-family: Cambria;
  font-size: 32px;
}

.paragraph p {
  font-family: sans-serif;
  font-size: 18px;
  padding-top: 10px;
  line-height: 36px;
}

.paragraph img {
  width: 50vw;
}

.image {
  display: flex;
  justify-content: center;
  padding: 20px;
}
